[submodule "sourcedata/ds003643"]
	path = sourcedata/ds003643
	url = git@github.com:OpenNeuroDatasets/ds003643.git
	datalad-id = acc00a1b-08c3-4b06-ad19-3de01b33eeed
	datalad-url = git@github.com:OpenNeuroDatasets/ds003643.git
